name: Docker Build and Push

# MATRIX APPROACH USED SO WE CAN BUILD THE DOCKER IMAGES IN PARALLEL (quicker ci)

on:
  push:
    branches:
      - master 
jobs:
  build:
    strategy:
      matrix:
        service_name: [auth-service, sneaker-service]

    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # Disable UNIT TEST for now
    - name: Run Unit Tests
      run: |
        sudo apt-get install libcurl4
        export ENVIRONMENT=dev
        export JWT_SECRET=secret123
        cd ${{ matrix.service_name }} && npm install && npm run test

    - name: Build and Push Docker Images
      run: |
        docker build ./${{ matrix.service_name }} -t ${{ secrets.DOCKER_USERNAME }}/${{ matrix.service_name }}:latest
        docker push ${{ secrets.DOCKER_USERNAME }}/${{ matrix.service_name }}:latest
